<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>2 params</title>
</head>
<body>
<ul>
  <li><b>Attribut 1 : </b><span th:text="${att}"></span></li>
  <li><b>Attribut 2 : </b><span th:text="${att2}"></span></li>
</ul>
</body>
</html>