<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collection de params</title>
</head>
<body>
<ul th:unless="${liste.isEmpty()}">
  <li th:each="p: ${liste}">
    <span th:text="${p}"/>
</ul>
<ul th:if="${liste.isEmpty()}">
    Oups, liste vide :(
</ul>
</body>
</html>