<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personne</title>
</head>
<body>
<span>Affichage des attributs d'un objet avec th:object</span>
<div th:object = "${p}">
<ul>
  <li th:text="*{nom}"></li>
  <li th:text="*{prenom}"></li>
  <li th:text="*{age}"></li>
</ul>
</div>
</body>
</html>